/* 
    Created on : 02-may-2019, 10:29:07
    Author     : MRSADIAD
*/
.galeria{
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.imagen {
  margin: 5px;
  border: 3px solid #011119;
  width: 250px;
  color: #ffffff;
  background-color:#011119;
}
.imagen:hover {
  border: 3px solid #3cb0fd;
}

.nombre {
  padding: 15px;
  text-align: center;
  font-family: Arial;
}
